* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(135deg, #74ABE2, #5563DE);
  margin: 0;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: lab(96.84% -0.15 -0.61);
}

#container {
  display: flex;
  gap: 12px;
  max-width: 750px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

select, input {
  flex: 1;
  padding: 12px;
  border-radius: 18px;
  border: 1px solid #d1d5db;
  font-size: 16px;
  background: #f9fafb;
}

 select:focus,input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59,130,246,0.2);
}

#btn-adicionar {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#btn-adicionar:hover {
  background: #2563eb;
  transform: translateY(-2px);
}

.container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;
  
}

.divs {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

.divs h2 {
  text-align: center;
  margin-bottom: 15px;
}

.cards, .card{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 16px;
  
}

/* Linha elegante */
.cards::after, .card::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.2),
    transparent
  );
}

 .cards:hover::after, .card:hover::after {
  background: linear-gradient(
    to right,
    transparent,
    #3b82f6,
    transparent
  );
}
